*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    font-family: "Montserrat", sans-serif;
}
body {
    min-height: 100vh;
    background-image: linear-gradient( to right bottom, #3b19ffee,#6a1dc8ee, #dc19ffee,#ff28a2ee );
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 60vh;
    min-width: 370px;
    max-width: 370px;
}

.dispaly{
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    width: 100%;
    min-height: 30%;
    min-height: min-content;
    background-color: #00000a20;
    color: white;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    

}

.firstNumber {
   color: rgb(204, 207, 209);
    font-size: 15px;
    padding-right: 10px;
}

.nextNumber{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px;

}

.buttons{
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    gap: 2px;
    
}


.buttons button {
    font-size: 25px;
    background-color: rgba(134, 15, 48, 0.303);
    color: rgb(204, 207, 209);
    border-radius: 10px;
}

.calculator {
background-color: rgba(221, 153, 205, 0.105);
padding: 10px;
border-radius: 10px;
}